nav {
	background-color: rgba(0, 0, 10, 0.92);
	min-height: 5vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: calc(10px + 1vmin);
	color: #a2a2a2;
	text-decoration: none;
}

nav a {
	text-decoration: none;
	display: block;
	margin: 0 8px;
}

a,
a:visited,
a:hover,
a:active {
	color: inherit;
}

.navigation {
	display: flex;
}

.currencies {
	color: #a2a2a2;
	font-size: calc(10px + 1vmin);
}

.currencies span {
	margin: 0 8px;
}
