.Config {
	display: flex;
	flex-direction: column;
}

.Config code {
	font-size: calc(10px + 1vmin);
	margin: 8px;
}

.Config button {
	background-color: rgb(31, 31, 45);
	border-radius: 8px;
	border-width: 0;
	color: #5294ff;
	display: inline-block;
	line-height: 20px;
	list-style: none;
	margin: 0;
	padding: 10px 12px;
	text-align: center;
	cursor: pointer;
}

.Config button:hover {
	background-color: #5294ff;
	border-radius: 8px;
	border-width: 0;
	color: rgb(31, 31, 45);
}
